
answerTIMESv6.lic

*.mdb

Gams_WrkTI/END_GAMS.*

*sublime*

*.lst

*.vd

*.vde

*.ANT

*.vds

*.VDT

*.LOG

*.put

SATM/

Experiments/

Results/

*test*

Links/

*.gdx
!dem_start.gdx

*.lxi

*.~gm

~*.xls*

*.7z

writingPar.xlsx

*.~*

*.ldb

*.csv

SATIM/Gams_WrkTI/22*/

SATIM/Gams_SrcTI/

SATIM/DataSpreadsheets/Archive/

225a/

AFOLU/Land model_v1.13.xlsx

SATIM/DataSpreadsheets/PowerSector/

SetsAndMaps/SetsAndMaps - Copy.xlsm

SetsAndMaps/SetsAndMaps_bu.xlsm

NDC_Dashboard_v01.twbx

NDC_Dashboard_v02.twbx

NDC_Dashboard_v02_share.twbx

NDC_Dashboard_v03.twbx

AFOLU/Archive/

Waste/Waste_model_Linked_29_July_2020.xlsx

NDC_Dashboard_v05.twbx

NDC_Dashboard_v06.twbx

Waste/Archive/

Archive/

SATIM/Gams_WrkTI/gamssave/

REPORT_00_batch01bu.rar

NDC_Dashboard_20200820b.twbx

SATIM/DataSpreadsheets/Refineries/

high gdp growth rate v.2.xlsx

high gdp growth rate.xlsx

High.zip

NDC_Dashboard_20200827.twbx

NDC_Dashboard_20200827b.twbx

NDC_Dashboard_20200827c.twbx

NDC_Dashboard_20200827d.twbx

NDC_Dashboard_20200828_NTNew.twbx

NDC_Dashboard_20200828.twbx

NDC_Dashboard_20200831_NBI.twbx

NDC_Dashboard_20200831.twbx

NDC_Dashboard_20200902.twbx

NDC_Dashboard_20200903.twbx

NDC_Dashboard_20200904.twbx

NDC_Dashboard_20200916.twbx

NDC_Dashboard_20200921.twbx

NDC_Dashboard_20200923.twbx

NDC_Dashboard_20200925.twbx

NDC_Dashboard_20201007.twbx

NDC_Dashboard_20201009.twbx

NDC_Dashboard_20201012.twbx

SATIM/Ans_WrkTI/co2cap10gt.imp

SATIM/Ans_WrkTI/co2cap10gt.xlsx

SATIM/Ans_WrkTI/co2tax100.xlsx

SATIM/Ans_WrkTI/cumul10gt.imp

SATIM/Ans_WrkTI/cumul8gt.xlsx

CGE/2simulation - Copy.xlsx

CGE/2simulation_High.xlsx

CGE/2simulation_ref.xlsx

conf_mergeruns/

SATIM/DataSpreadsheets/TCH_IND/WIP/

CGE/225b/

CGE/225c/

CGE/WIP/

NetZeroGDXs/

SARB_prelimruns/

FlexTool/Calibration Files/

SATIM/DataSpreadsheets/Transport/

JetPRuns/

OtherExamples/
